:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'Montserrat';
  line-height: 1.5;
  font-weight: 400;
  
}

.font-container {
  font-family: "Montserrat", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:1740px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }
  
  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}

@media screen and (max-width:1580px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }
  
  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}

@media screen and (max-width:1440px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }
  
  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}
@media screen and (max-width:1200px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }
  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}
@media screen and  (max-width:992px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }
  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}
@media screen and (max-width:768px){
  .mobile-menu nav {
    display: none;
    flex-direction: column;
  }

  .font-menu button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}
@media screen and (max-width:640px){
  .mobile-menu nav {
    display: flex;
    flex-direction: column;
  }
  .font-menu button {
    display: flex;
  }
  .mobile-logo {
    display: flex;
  }
}
@media screen and (max-width:576px){
  .mobile-menu nav {
    display: flex;
    flex-direction: column;
  }
  .font-menu button {
    display: flex;
  }
}